/* material firefox imports */

/* @import "global/global.css";
@import "tabbar/tabbar.css"; */
/* @import "personalbar/personalbar.css";
@import "popup/popup.css";
@import "findbar/findbar.css"; */
@import "variables.css";
@import "vars.css";

@import "icons/icons.css";
@import "urlbar/urlbar.css";
@import "navbar/navbar.css";
@import "window-controls/window-controls.css"; /* comment this out if you don't want flyingfox to handle maximize/minimize/close buttons*/

:root {
    --sidebar-width: 250px; /* expanded width of the sidebar. used for both userChrome-overlay and userChrome-static */
}

#main-window[title^="Firefox Developer Edition"] #PersonalToolbar {
    visibility: visible !important;
    margin-top: -1px !important;
}

#sidebar-box #sidebar {
    min-width: var(--sidebar-width) !important;
    max-width: var(--sidebar-width) !important;
    box-shadow: none !important;
}

/* hide sidebar header for tree style tabs sidebar */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
    display: none;
}

#sidebar {
    border-right: solid 1px black !important;
}

toolbar {
    border: none !important;
}

/* Hide splitter, when using Tree Style Tab. */
#sidebar-splitter {
    display: none !important;
}

/* hide tabs */
.tabbrowser-tab {
    display: none;
}

#tabs-newtab-button {
    display: none;
}

.titlebar-spacer {
    display: none !important;
}
