:root {
    --dark-0: #151d28;
    --dark-base: #192330;
    --dark-1: #223042;
    --dark-2: #2a3c52;
    --dark-3: #31455e;
    --dark-4: #384f6b;

    --light-0: #d9e0e8;
    --light-base: #afc0d5;
    --light-1: #a1b5ce;
    --light-2: #94abc7;
    --light-3: #87a0c0;
    --light-4: #7995b9;

    --accent: #63cdcf;
    --yellow: #dbc074;
    --green: #5cb8a7;
    --red: #c94f6d;

    /* flyingfox vars*/
    --initial-width: 70px; /* initial width of the sidebar. used for userChrome-hover */
    --sidebar-width: 250px; /* expanded width of the sidebar. used for userChrome-static */
    --extension-icon-mask: grayscale(100%) invert(75%) sepia(8%) saturate(862%) hue-rotate(173deg) brightness(88%);
}

:root[privatebrowsingmode="temporary"] {
    --dark-0: #151d28;
    --dark-base: #20103c;
    --dark-1: #271447;
    --dark-2: #321c5d;
    --dark-3: #422778;
    --dark-4: #512f95;

    --light-0: #fe7676bc;
    --light-base: #f86288bc;
    --light-1: #f05294bc;
    --light-2: #ec4a9bbc;
    --light-3: #eb3fa3bc;
    --light-4: #ea38b5bc;

    --accent: #e9207e;
    --yellow: #fa4361;
    --green: #ff9541;
    --red: #eb227b;

    --extension-icon-mask: grayscale(100%) invert(37%) sepia(47%) saturate(1401%) hue-rotate(288deg) brightness(83%);
}
