/* move window-controls down */
#TabsToolbar.browser-toolbar {
    display: inline-block !important;
    position: absolute;
    top: -17px !important;
    left: 10px;
}

:root:not([inFullscreen]) toolbar#nav-bar {
    z-index: 1 !important;
    position: relative !important;
    margin-left: 80px !important; /* shift toolbar to the right based on initial width */
}

/*-min max close size*/
.titlebar-button > .toolbarbutton-icon {
    height: 15px !important;
    min-height: 15px !important;
    width: 15px !important;
    min-width: 15px !important;
}

.titlebar-buttonbox {
    display: flex;
    flex-direction: row-reverse;
}

/* close button */
.titlebar-close {
    opacity: 0.7 !important;
    list-style-image: url(circle-close.svg) !important;
}

.titlebar-close:hover {
    opacity: 1 !important;
}

/* minimize button */
.titlebar-min {
    opacity: 0.7 !important;
    list-style-image: url(circle-min.svg) !important;
}

.titlebar-min:hover {
    opacity: 1 !important;
}

/* close button */
.titlebar-max {
    opacity: 0.7 !important;
    list-style-image: url(circle-max.svg) !important;
}

.titlebar-max:hover {
    opacity: 1 !important;
}

/* restore button */
.titlebar-restore {
    opacity: 0.7 !important;
    list-style-image: url(circle-max.svg) !important;
}

.titlebar-restore:hover {
    opacity: 1 !important;
}
