:root{
    --tab-border-radius: 6px; /* border radius of tabs */
    --animation-duration: 0.1s; /* duration of different animations [0s: off] */
    --spacing: 15px; /* spacing between tabs. [<15px: compact tabs] */
}

:root{
    --dark-0: #151d28;
    --dark-base: #192330;
    --dark-1: #223042;
    --dark-2: #2a3c52;
    --dark-3: #31455e;
    --dark-4: #384f6b;

    --light-0: #d9e0e8;
    --light-base: #afc0d5;
    --light-1: #a1b5ce;
    --light-2: #94abc7;
    --light-3: #87a0c0;
    --light-4: #7995b9;
}

:root.incognito {
    --dark-0: #151d28;
    --dark-base: #20103c !important;
    --dark-1: #271447;
    --dark-2: #321c5d;
    --dark-3: #422778;
    --dark-4: #512f95;

    --light-0: #fe7676bc;
    --light-base: #f86288bc;
    --light-1: #f05294bc;
    --light-2: #ec4a9bbc;
    --light-3: #eb3fa3bc;
    --light-4: #ea38b5bc;
}

:root, #background{
    background:  var(--dark-base);
}

#all-tabs{
   margin: 10px 15px;
}

tab-item:not(collapsed) {
    margin-top: var(--spacing);
    border-radius: var(--tab-border-radius);
    border: none !important;
    padding-top: 9px;
    padding-bottom: 10px;
}

tab-item:not([data-level="0"]){
    border-left: dashed 2px var(--light-4) !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: calc(var(--spacing)/2);
}

tab-item tab-favicon{
    left: 0;
    filter: grayscale(50%) opacity(80%);
    transition: left calc(var(--animation-duration)*2) ease-in-out;
}

tab-item[data-child-ids] .twisty{
    margin-right: 5px;
}

.highlighter {
    display: none !important;
}

tab-item .label {
    color: var(--light-2) !important;
    padding-bottom: 2px;
}


tab-item .twisty:before{
   background: var(--light-3) !important;
}

tab-item.active .label {
    color: var(--light-0) !important;
}


:root tab-item.active .twisty:before{
   background: var(--light-2) !important;
}

tab-item.active {
    background: var(--dark-3) !important;
}

tab-item:not(active):hover {
    background: var(--dark-1);
}

tab-item:not(:hover) tab-closebox {
    right: -30px;
    opacity: 1;
}

tab-item:not(pinned) tab-closebox {
    position: absolute;
    margin-top: 5px;
    right: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    padding-top: 2px;
    padding-left: 2px;
    background: var(--light-4);
    transition   : all var(--animation-duration) ease-in-out;
}

/********LEFT CONTENT TAB(static)*************/

:root.left tab-item{
    padding-left: 0;
}

:root.left tab-item tab-favicon {    
    transform: scale(120%);
    margin-right: 5px;
}

:root.left tab-item .label {
    transform: translateX(10px);
    transition   : all var(--animation-duration) ease-in-out;
}

:root.left tab-item:not(.pinned):hover tab-favicon {
    left: -35px;
}


:root.left tab-item[data-child-ids]:not(.pinned):hover tab-favicon {
    left: -40px;
}

:root.left tab-item:hover .label,
:root.left .label {
    transform: translateX(-25px);
}

/********RIGHT CONTENT TAB(hover)*************/

:root.right tab-item tab-favicon {
    transform: scale(120%);
    order: 1000;
    filter: grayscale(50%) opacity(80%);
    transition: all 0.2s ease-in-out;
}

:root.right tab-item.active:not(:hover) tab-favicon {
    filter: grayscale(10%) opacity(80%);
    transform: scale(150%);
    margin-right: 15px;
}

:root.right tab-item:hover tab-favicon,
:root.right tab-favicon {
    transform: translateX(30px);
}

:root.right tab-item:hover tab-favicon {
    margin-left: -15px;
}


:root.right tab-item.pinned tab-favicon {
    transform: scale(120%);
}

:root.right tab-item.active.pinned {
    position: relative;
    left: 190px !important;
}

:root.right tab-item.active.pinned tab-favicon {
    transform: scale(130%) !important;
    margin-left: 7px;
}

/***********************************/

.tab
    .favicon
    .favicon-default::before {
    filter: invert(88%) sepia(50%) saturate(1339%) hue-rotate(176deg) brightness(82%) contrast(95%); // change for light theme
}

.tab[data-current-favicon-uri="undefined"]
    .favicon
    .favicon-default::before{
    background: url("chrome://branding/content/identity-icons-brand.svg") no-repeat center !important;
    mask: none !important;
}

/***********NEW TAB BUTTON**********/

.newtab-button-box {
    border: none !important;
    margin: 0 50px;
}

.newtab-button {
    border: none !important;
    border-radius: 8px;
    padding: 8px 0 !important;
    margin: 0 5px;
}

.newtab-button::before{
   background: var(--light-3) !important;
}

.newtab-action-selector-anchor {
    border: none !important;
    margin-right: 10px;
    margin-top: 3px;
}

.newtab-button:hover {
    background: var(--dark-1);
}

/**********PINNED TAB***************/

tab-item.pinned {
    margin: 4px;
    padding: 5px !important;
    transition   : all 0.1s ease-in-out;
}

/***********************************/

#all-tabs {
    border: none !important;
}

