:root{
  --active-tab-color-a     : #6b5874;
  --active-tab-color-b     : #d5749d;
  --active-tab-color-shadow: rgba(210, 115, 156, 0.5);
  --active-tab-text-color  : white;
  --tab-hover-color        : #28282f;
  --tab-text-color         : white;
  --close-box-background   : #31313a;
}

tab-item {
  margin       : 15px 10px;
  margin-right : 30px;
  border-radius: 5px;
  padding-top  : 5px;
  padding-right: 10px;
  transition   : all 0.3s ease-i-out !important;
}

tab-item .label{   
  color: var(--active-tab-text-color ) !important;
}

tab-item.active {
  background  : linear-gradient(to right, var(--active-tab-color-a), var(--active-tab-color-b)) !important;
  box-shadow  : 5px 0 15px -1px var(--active-tab-color-shadow);
  margin-right: 18px;
  font-weight : bolder;
  transition  : scale 0.3s ease-i-out !important;
  color       : var(--tab-text-color ) !important;
}
tab-item:hover {
  background: var(--tab-hover-color ) !important;
  box-shadow: 0 5px 20px -5px var(--tab-hover-color ) !important;
}

tab-item:not(:hover) tab-closebox {
  right    : -30px;
  transform: scale(110%);
}

tab-item tab-closebox{
  position     : absolute;
  right        : 10px;
  height       : 25px;
  padding-top  : 5px;
  background   : var(--close-box-background);
  opacity      : 1;
  border-radius: 50%;
  transition   : all 0.1s ease-in-out;
}

:root.right tab-item tab-twisty {
  display: none;
}

:root.right tab-item tab-favicon {
  transform: scale(120%);
  margin-left: 20px;
  margin-bottom: 8px;
  order: 1000;
  filter: drop-shadow(0px 4px 6px rgba(0,0,0,0.2)) grayscale(80%) opacity(80%);
  transition: all 0.2s ease-in-out;
}

:root.right tab-item.active:not(:hover) tab-favicon {
  filter: drop-shadow(0px 4px 6px rgba(0,0,0,0.2)) grayscale(10%) opacity(80%);
  transform: scale(150%);
  margin-right: 5px;
}

:root.right tab-item:hover tab-favicon, :root.right tab-favicon {
  transform: translateX(30px);
}

:root.right tab-item:hover tab-favicon 
{
  margin-left: -15px;
}

.tab:not(.group-tab):not([data-current-uri^="chrome:"]):not([data-current-uri^="about:addons"]):not([data-current-uri^="about:preferences"]) 
.favicon .favicon-default::before {
  background: url("chrome://branding/content/identity-icons-brand.svg") no-repeat center / 100% !important;
  mask: none !important;
}

tab-item.pinned{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px !important;
}

:root.right tab-item.pinned tab-favicon {
  transform: scale(120%);
  margin-left: 10px;
}

:root.right tab-item.active.pinned{
  position: relative;
  left: 190px !important;
}

:root.right tab-item.active.pinned tab-favicon {
  transform: scale(130%) !important;
  margin-left: 7px;
}