
:root{ 
  --dark-0: #151D28;
  --dark-base: #192330;
  --dark-1: #233143;
  --dark-2: #2A3B51;
  --dark-3: #374E6C;
  --dark-4: #3E5879;
  --light-0: #D7DFEA;
  --light-base: #afc0d5;
  --light-1: #A1B5CE;
  --light-2: #94ABC7;
  --light-3: #87A0C0;
  --light-4: #7996B9;
  --accent: #63cdcf;
  --yellow: #dbc074;
  --green: #5cb8a7;
  --red: #c94f6d;
  --extension-icon-mask: grayscale(85%) invert(75%) sepia(8%) saturate(862%) hue-rotate(173deg) brightness(88%);
}

:root.incognito{ 
  --dark-0: #1C0E34;
  --dark-base: #20103c;
  --dark-1: #2F1D4E;
  --dark-2: #38225D;
  --dark-3: #4A2D7B;
  --dark-4: #53338A;
  --light-0: #CC6B9C;
  --light-base: #B9407C;
  --light-1: #AB3B73;
  --light-2: #9C3569;
  --light-3: #8D305E;
  --light-4: #7D2B54;
  --accent: #e9207e;
  --yellow: #C9B336;
  --green: #36C987;
  --red: #C9365D;
  --extension-icon-mask: grayscale(85%) invert(13%) sepia(80%) saturate(3107%) hue-rotate(256deg) brightness(84%) contrast(93%);
}


:root{
    --tab-border-radius: 7px; /* border radius of tabs */
    --animation-duration: 200ms; /* duration of different animations [0s: turn all animations off] */
    --spacing: 14px; /* spacing between tabs. [<15px: compact tabs] */
    --distance-from-edge: 10px; /* distance between tabs, and left-right edges of sidebar*/
    --hover-text-spacing: 0.2; /* should be left alone. with hover sidebar, if text is visible in collapsed status, increase this */


    --ease-in: cubic-bezier(0.32, 0, 0.67, 0);
    --ease-out: cubic-bezier(0.22, 1, 0.36, 1);
    --ease-in-out: cubic-bezier(0.65, 0, 0.35, 1);

    --collapsed-width: 60px;
  
    --contextual-identity-color-blue: #63B3ED;
    --contextual-identity-color-orange: #F6AD55;
    --contextual-identity-color-green: #68D391;
    --contextual-identity-color-pink: #F687B3;
}

/************UNCUSTOMIZED CSS************/
#tabbar-container #tabbar{
   margin-bottom: 15px !important;
}

:root, #background{
    background:  var(--dark-base) !important;
}

#all-tabs{
   margin: 10px var(--distance-from-edge);
}

tab-item:not(.collapsed) {
    margin-top: var(--spacing);
    border-radius: var(--tab-border-radius);
    border: none !important;
    padding-top: 9px;
    padding-bottom: 10px;
}

tab-item.collapsed{
    height: 0;
    margin: 0 !important;
    padding: 0 !important;
}

tab-item:not([data-level="0"]):not(.pinned){
    border-left: dashed 2px var(--light-4) !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: calc(var(--spacing)/2);
}

tab-item tab-favicon{
    left: 0;
    filter: var(--extension-icon-mask);
    transition: transform calc(var(--animation-duration)*2) var(--ease-out);
}

.highlighter {
    display: none !important;
}

tab-item .label {
    color: var(--light-2) !important;
    padding-bottom: 2px;
}

tab-item .twisty:before{
   background: var(--light-3) !important;
}

tab-item.active .label {
    color: var(--light-0) !important;
}

tab-item.active {
    background: var(--dark-3) !important;
}


tab-item:not(.active).highlighted{
    background: var(--dark-1) !important;
}

tab-item:not(active):hover {
    background: var(--dark-1);
}

tab-item:hover tab-closebox {
    right: 10px;
    opacity: 1;
}

tab-item:not(pinned) tab-closebox {
    position: absolute;
    margin-top: 2px;
    height: 20px;
    width: 20px;
    right: -30px;
    border-radius: 50%;
    padding-top: 2px;
    padding-left: 2px;
    background: var(--light-4);
    transition   : all var(--animation-duration) var(--ease-out);
}

.sound-button:after {
    background: var(--light-3) !important;
    margin-right: 5px;
}

.counter{
    color: var(--light-4) !important;
    background: var(--dark-2) !important;
    border-radius: 7px;
    margin: 2px 4px 0px 0px;
    padding: 0 4px;
    padding-bottom: 2px;
    order: -1 !important;
}

.counter:before, .counter:after{ content: ""}

/********LEFT CONTENT TAB(hover)*************/

:root.left tab-item{
    padding-left: 0px;
}

:root.left tab-item tab-favicon {
    order: 10 !important;
    margin-right: calc(var(--collapsed-width)*0.25) !important;
    transform: scale(120%) translateX(0px) !important;
}

:root.left tab-item .sound-button:after {
    transform: translateX(0px); !important;
    transition: all calc(var(--animation-duration)*2.2) var(--ease-out) !important;
}

:root.left tab-item .label{
    transform: translateX(0px);
    margin-right: calc(var(--collapsed-width)*var(--hover-text-spacing)) !important;
    transition: all var(--animation-duration) var(--ease-out);
}

:root.left tab-item:not(.pinned):hover tab-favicon {
    transform: scale(120%) translateX(-20px) !important;
}

:root.left tab-item:not([data-child-ids]):hover .label {
    transform: translateX(-15px);
}

:root.left tab-item:hover .sound-button:after{
    transform: translateX(-25px);
}

:root.left tab-item[data-child-ids] .twisty{
    margin-left: 5px;
}

/***********************************/

.tab
    .favicon
    .favicon-default::before {
    filter: var(--extension-icon-mask); /* change for light theme */
}

.tab[data-current-favicon-uri="undefined"]
    .favicon
    .favicon-default::before{
    background: url("chrome://branding/content/identity-icons-brand.svg") no-repeat center !important;
    mask: none !important;
}

/***********NEW TAB BUTTON**********/

.newtab-button-box {
    border: none !important;
    margin: 0 50px;
}

.newtab-button {
    border: none !important;
    border-radius: 8px;
    padding: 8px 0 !important;
    margin: 0 5px;
}

.newtab-button::before{
   background: var(--light-3) !important;
}

.newtab-action-selector-anchor {
    border: none !important;
    margin-right: 10px;
    margin-top: 3px;
}

.newtab-button:hover {
    background: var(--dark-1);
}

/**********PINNED TAB***************/

tab-item.pinned {
    margin: 5px !important;
    padding: 5px !important;
    transition   : all 0.1s var(--ease-out);
}

/**********CONTAINERS***************/

.contextual-identity-marker{
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
}

tab-item.active .contextual-identity-marker {
    display: none !important;
}

.contextual-identity-firefox-container-1:not(.active),
.contextual-identity-firefox-container-2:not(.active),
.contextual-identity-firefox-container-3:not(.active),
.contextual-identity-firefox-container-4:not(.active){
   border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

tab-item.active.contextual-identity-firefox-container-1 {
    background: linear-gradient(to right, #3182CE , #0BC5EA) !important;
}

tab-item.active.contextual-identity-firefox-container-2 {
    background: linear-gradient(to right, #DD6B20 , #F56565) !important;
}

tab-item.active.contextual-identity-firefox-container-3 {
   background: linear-gradient(to right, #38A169 , #38B2AC) !important;
}

tab-item.active.contextual-identity-firefox-container-4 {
   background: linear-gradient(to right, #D53F8C , #9F7AEA) !important;
}

/***********************************/

#all-tabs {
    border: none !important;
}

