/* order of these files is important and should not be changed */

@import "icons/extension-icons.css";
@import "window-controls/wc-without-tabline.css";
@import "hide-tabline.css";
@import "userChrome-static.css";

:root {
    --dark-0: #1a1b1e;
    --dark-base: #202124;
    --dark-1: #2e2f33;
    --dark-2: #37393e;
    --dark-3: #4a4d54;
    --dark-4: #54575f;
    --light-0: #d4d5d8;
    --light-base: #b4b6bb;
    --light-1: #a9acb1;
    --light-2: #9fa1a8;
    --light-3: #94979e;
    --light-4: #898c94;
    --accent: #63cdcf;
    --yellow: #dbc074;
    --green: #5cb8a7;
    --red: #c94f6d;
    --extension-icon-mask: grayscale(70%) invert(30%) sepia(13%) saturate(292%) hue-rotate(184deg) brightness(93%)
        contrast(93%);

    /* expanded width of the sidebar. 
    used for userChrome-static, and hover */
    --sidebar-width: 250px;
    /* initial width of the sidebar. 
    advised not to change since tst css relies on this value*/
    --sidebar-collapsed-width: 60px;

    --tl-animation-duration: 200ms;
    /*--tl-tab-background-gradient: */
    /* uncomment and add gradient value for selected tab gradient*/

    /******WINDOW CONTROL PLACEMENT VARS******/
    /* larger value moves window controls down,*/
    /* can be negative(moves controls up) */
    /* 55px if tabline visible, -25px if tabline hidden */
    --wc-vertical-shift: -25px;
    /* larger value moves window controls right. 
  10-20px should be enough */
    --wc-horizontal-shift: 10px;
}

:root[privatebrowsingmode="temporary"] {
    --dark-0: #1c0e34;
    --dark-base: #20103c;
    --dark-1: #2d1655;
    --dark-2: #361b65;
    --dark-3: #472385;
    --dark-4: #502895;
    --light-0: #ce6fa1;
    --light-base: #be4385;
    --light-1: #af3c79;
    --light-2: #a0376f;
    --light-3: #903164;
    --light-4: #812c5a;
    --accent: #63cdcf;
    --yellow: #dbc074;
    --green: #5cb8a7;
    --red: #c94f6d;
    --extension-icon-mask: grayscale(70%) invert(13%) sepia(80%) saturate(3107%) hue-rotate(256deg) brightness(84%)
        contrast(93%);
}
