#sidebar-box {
    z-index: 1000 !important;
    position: relative !important;
    min-width: var(--sidebar-collapsed-width) !important;
    max-width: var(--sidebar-collapsed-width) !important;
}

#sidebar-header,
#sidebar-splitter {
    display: none !important;
}

/* inner width = expanded width & move inner to only show initial-width long section */
#sidebar-box #sidebar {
    position: absolute !important;
    min-width: var(--sidebar-width) !important;
    max-width: var(--sidebar-width) !important;
    width: var(--sidebar-width) !important;
    transform: translateX(calc(var(--sidebar-collapsed-width) - var(--sidebar-width)));
    transition: all var(--transition-time) var(--ease-out);
}

/* move inner to show entire sidebar */
#sidebar-box #sidebar:hover {
    transform: translateX(0) !important;
    box-shadow: 2px 0 33px -3px var(--sidebar-shadow-color);
}

#sidebar-box[sidebarcommand="viewBookmarksSidebar"] #sidebar {
    transform: translateX(0) !important;
    box-shadow: 2px 0 33px -3px var(--sidebar-shadow-color);
}
/* hide sidebar header for tree style tabs sidebar */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
    display: none;
}

#sidebar {
    border-right: solid var(--dividers) var(--sidebar-shadow-color) !important;
}

toolbar {
    border: none !important;
}

/* Hide splitter, when using Tree Style Tab. */
#sidebar-splitter {
    display: none !important;
}

/* hide tabs */
.tabbrowser-tab {
    display: none;
}

#tabs-newtab-button {
    display: none;
}

.titlebar-spacer {
    display: none !important;
}
